.todolist {
  width: 100%;
  max-width: 500px;
  height: 400px;
  margin: auto;
  overflow: auto;
  border: 1px solid #CCC;
  padding: 0;
}

.row {
  display: flex;
  width: 100%;
}

.checkbox {
  margin: auto 0;
}

.mat-list-item:hover {
  background: #EFEFEF;
}
.mat-list-item {
  border-bottom: 1px solid #CCC;
  cursor: pointer;
  height: auto !important;
}

.content {
  padding: 15px;
  width: 100%;
}

h3, p {
  margin: 0;
}

.crossed {
  background: #CCC;
}

.crossed h3 {
  text-decoration: line-through;
}