<mat-spinner *ngIf="isLoading$ | async" style="margin: auto"></mat-spinner>
<div *ngIf="(isError$ | async) != true && (isLoading$ | async) != true">
  <mat-selection-list #todolist class="todolist">
      <mat-list-item *ngFor="let todo of (todolist$ | async); let i = index" [ngClass]="{'crossed': todo.state === 'done'}">
        <div class="row">
            <div class="checkbox">
              <mat-checkbox [checked]="todo.state === state.done" (change)="updateTodo(todo)"></mat-checkbox>
            </div>
            <div class="content" [routerLink]="['/todos', todo.id]">
                <h3 matLine> {{todo.title}} </h3>
                <p matLine>
                  <span *ngIf="todo.state === state.done">Crossed out</span>
                </p>
            </div>
            <button class="action" mat-icon-button color="warn" aria-label="Trash button" (click)="deleteTodo(todo)">
              <mat-icon>delete</mat-icon>
            </button>
        </div>
      </mat-list-item>
  </mat-selection-list>
</div>