.form-container
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 20px;
  *
    width: 100%;
  form
    margin-bottom: 20px;
    *
      margin: 5px 0;

button
  max-width: 50px;